* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

/* NAVIGATION */

nav {
    background: rgb(19, 18, 18);
    padding: 0 15px;
    top: 0;
    position: sticky;
    z-index: 9999;
  }

.fa-clock, .fa-phone-volume, .fa-map-marker-alt {
    color: lime;
    font-size: 2rem;
    margin-right: 1vh;
}

.logo img {
    height: 12vh;
    margin-top: -5vh;
}

.bokaTid {
  color: tomato;
}

.button a {
    pointer-events: all;
    transition: 1s;
}

  a {
    color: white !important;
    text-decoration: none!important;
  }
  .menu,
  .submenu {
    list-style-type: none;
  }
  .logo {
    font-size: 20px;
    padding: 7.5px 10px 7.5px 0;
    margin-left: -75px;
  }
  .item {
    padding: 5px;
    pointer-events: none;
  }
  .item.button {
    padding: 9px 5px;
  }
  .item:not(.button) a:hover,
  .item a:hover::after {
    color: #ccc;
  }
  /* Mobile menu */
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .menu li a {
    display: block;
    padding: 15px 5px;
  }
  .menu li.subitem a {
    padding: 15px;
  }
  .toggle {
    order: 1;
    font-size: 20px;
  }
  .item.button {
    order: 2;
  }
  .item {
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
  }
  .active .item {
    display: block;
  }
  .button.secondary {
    /* divider between buttons and menu links */
    border-bottom: 1px #444 solid;
  }
  /* Submenu up from mobile screens */
  .submenu {
    display: none;
  }
  .submenu-active .submenu {
    display: block;
  }
  .has-submenu i {
    font-size: 12px;
  }
  .has-submenu > a::after {
    font-family: "Font Awesome 5 Free";
    font-size: 12px;
    line-height: 16px;
    font-weight: 900;
    content: "\f078";
    color: white;
    padding-left: 5px;
  }
  .subitem a {
    padding: 10px 15px;
  }
  .submenu-active {
    background-color: #111;
    border-radius: 3px;
  }
  
  /* Tablet menu */
  @media all and (min-width: 700px) {
    .menu {
      justify-content: center;
    }
    .logo {
      flex: 1;
    }
    .item.button {
      width: auto;
      order: 1;
      display: block;
    }
    .toggle {
      flex: 1;
      text-align: right;
      order: 2;
    }
    /* Button up from tablet screen */
    .menu li.button a {
      padding: 10px 15px;
      margin: 5px 0;
    }
    .button a {
      color: white;
      background: transparent;
      border: 1px white solid;
    }
    .button.secondary {
      border: 0;
    }
    .button.secondary a {
      background: transparent;
      border: 1px #0080ff solid;
    }
    .button a:hover {
      text-decoration: none;
      color: white;
    }
    .button:not(.secondary) a:hover {
      background: transparent;
      border-color: lime;
    }
  }
  /* Desktop menu */
  @media all and (min-width: 960px) {
    .menu {
      align-items: flex-start;
      flex-wrap: nowrap;
      background: none;
    }
    .logo {
      order: 0;
    }
    .item {
      order: 1;
      position: relative;
      display: block;
      width: auto;
    }
    .button {
      order: 2;
    }
    .submenu-active .submenu {
      display: block;
      position: absolute;
      left: 0;
      top: 68px;
      background: #111;
    }
    .toggle {
      display: none;
    }
    .submenu-active {
      border-radius: 0;
    }
  }

/* END OF NAVIGATION */


  a {
      text-decoration: none;
      color: white;
  }

.banner {
    position: relative;
    color: white;
    margin-top: -1.1vh;
}

  .banner img {
      object-fit: cover;
      width: 100%;
      height: 80vh;
      z-index: -1;
      filter: brightness(0.5);
  }

  .banner-text {
      position: absolute;
      top: 50%; 
      left: 50%; 
      transform: translate(-50%, -50%);
  }

.services {
    margin-top: -0.4vh;
    position: relative;
}

  video {
      width: 100%;
      height: 80vh;
      object-fit: cover;
      filter: brightness(60%);
  }

  .services-header {
      position: absolute;
      top: 10%; 
      left: 50%; 
      transform: translate(-50%, -50%);
      color: white;
      font-size: 2.5rem;
      font-family: monospace, Arial;
      text-align: center;
      font-weight: bold;

  }

  .services-header::after {
    content:'';
    height: 3px;
    width: 60%;
    background-color:rgb(51, 199, 51);
    position: absolute;
    left: calc(50% - 30%);
    bottom: -10px;
  }


  
  .column-services {
    float: left;
    width: 33%;
    text-align: center;
  }

  @media screen and (max-width: 600px) {
  .column-services {
    visibility: hidden;
}
  }

  .column-services-border {
      border-right: 1px solid white;
  }


  .row-services:after {
    content: "";
    display: table;
    clear: both;
  }

  .row-services {
      position: absolute;
      top: 50%; 
      left: 50%; 
      transform: translate(-50%, -50%);
      width: 100%;
      color: white;
      visibility: visible;

  }


.fa-motorcycle, .fa-car, .fa-wrench {
    transform: scale(2.5);
    text-align: center;
}

.fa-motorcycle {
    color: orange;

}

.fa-car {
    color: rgb(117, 149, 245);
}

.fa-wrench {
    color: lightgray;
}


ul {
    padding-top: 5vh;
}

li {
    text-align: left;
    padding: 10px;
    list-style-type: none;
}

.tick {

color: lime !important;

}

.container {
    position: absolute !important;
    top: 50% !important; 
    left: 50% !important; 
    transform: translate(-50%, -50%) !important;
    visibility: hidden;

}

@media screen and (max-width: 600px) {
    .container {
      width: 100%;
      visibility: visible;
      margin-top: -15vh;
    }
    .container .fa-motorcycle, .fa-car, .fa-wrench {
        transform: scale(1.3);
        margin-left: 3vh;
    }
}

.accordion-text {
    display: inline;
    color: white;
    margin-left: 3vh;
    font-size: 1.5rem;
    font-family: Arial;
    font-weight: bold;
}

.panel {
    background-color: transparent !important;
    border: none !important
}

.panel-heading {
    background-color: transparent !important;
    border: none !important;
}

/* FOOTER */
#footer {
    width: 100%;
    text-align: center;
    min-height: 10vh;
    margin-top: -0.6vh;
    padding: 10px;
    color: white;
    background-color: rgb(19, 18, 18);
    position: relative;
}

.column-footer {
    float: left;
    width: 50%;
  }

  @media screen and (max-width: 600px) {
    .column-footer {
      width: 100%;
    }
    .row-footer {
        padding: 10px;
        line-height: 5vh;
    }
  }
  
.row-footer {
    padding: 30px;
}

  .row-footer::after, .row-footer2::after {
    content: "";
    display: table;
    clear: both;
  }

  .footer-text {
      font-size: 2rem;
  }


  .fa-facebook-square, .fa-instagram {
      font-size: 3rem;
      padding: 10px;
  }

  .fa-facebook-square {
      color: rgb(83, 117, 192);
  }

  .fa-instagram {
      color: rgb(64,93,230);
  }

.moto {
    font-size: 2rem;
    padding: 10px;
}

.fa-quote-right, .fa-quote-left {
    color: tomato;
    font-size: 1rem;
}

.footer-copyright {
    padding: 2vh;
    font-size: 1rem;
}