body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

/* NAVIGATION */

nav {
   background-color: rgb(19, 18, 18);
    top: 0;
    position: sticky;
    z-index: 9999;
}

.column {
    float: left;
    width: 25%;
    height: 8vh;
    position: relative;
  }

  .nav-text {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);

  }

  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  button {
    background: none;
    border: 0;
    box-sizing: border-box;
    margin: 1em;
    padding: 1em 2em;
    box-shadow: inset 0 0 0 2px #f45e61;
    color: tomato;
    font-size: inherit;
    font-weight: 700;
    position: relative;
}
button::before, button::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}
.draw {
    transition: color 0.25s;
    color: lightgray;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);

}

@media screen and (max-width: 1600px) {
    .draw {

    }
}

.draw::before, .draw::after {
    border: 2px solid transparent;
    width: 0;
    height: 0;
}
.draw::before {
    top: 0;
    left: 0;
}
.draw::after {
    bottom: 0;
    right: 0;
}
.draw:hover {
    color: white;
}
.draw:hover::before, .draw:hover::after {
    width: 100%;
    height: 100%;
}
.draw:hover::before {
    border-top-color: #60daaa;
    border-right-color: #60daaa;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.draw:hover::after {
    border-bottom-color: #60daaa;
    border-left-color: #60daaa;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}


  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  @media screen and (max-width: 1600px) {
    .column {
      width: 100%;
    }
    .column-border {
        border-bottom: 0.3px solid white;
    }

    body {
        overflow-x: hidden;
    }

  }



  .fa-clock, .fa-phone-volume, .fa-map-marker-alt {
      color: lime;
      transform: scale(1.3);
  }
 
  a {
      text-decoration: none;
      color: white;
  }

.banner {
    position: relative;
    color: white;
}

  .banner img {
      object-fit: cover;
      width: 100%;
      height: 80vh;
      z-index: -1;
      filter: brightness(0.5);
  }

  .banner-text {
      position: absolute;
      top: 50%; 
      left: 50%; 
      transform: translate(-50%, -50%);
  }

.services {
    margin-top: -0.4vh;
    position: relative;
}

  video {
      width: 100%;
      height: 80vh;
      object-fit: cover;
      filter: brightness(60%);
  }

  .services-header {
      position: absolute;
      top: 20%; 
      left: 50%; 
      transform: translate(-50%, -50%);
      color: white;
      font-size: 2.5rem;
      font-family: monospace, Arial;
      text-align: center;
      font-weight: bold;

  }

  .services-header::after {
    content:'';
    height: 3px;
    width: 60%;
    background-color:rgb(51, 199, 51);
    position: absolute;
    left: calc(50% - 30%);
    bottom: -10px;
  }


  
  .column-services {
    float: left;
    width: 33%;
    text-align: center;
  }

  @media screen and (max-width: 600px) {
  .column-services {
    visibility: hidden;
}
  }

  .column-services-border {
      border-right: 1px solid white;
  }


  .row-services:after {
    content: "";
    display: table;
    clear: both;
  }

  .row-services {
      position: absolute;
      top: 60%; 
      left: 50%; 
      transform: translate(-50%, -50%);
      width: 100%;
      color: white;
      visibility: visible;

  }


.fa-motorcycle, .fa-car, .fa-wrench {
    transform: scale(2.5);
    text-align: center;
}

.fa-motorcycle {
    color: orange;

}

.fa-car {
    color: rgb(117, 149, 245);
}

.fa-wrench {
    color: lightgray;
}


ul {
    padding-top: 5vh;
}

li {
    text-align: left;
    padding: 10px;
    list-style-type: none;
}

.tick {

color: lime !important;

}

.container {
    position: absolute !important;
    top: 50% !important; 
    left: 50% !important; 
    transform: translate(-50%, -50%) !important;
    visibility: hidden;

}

@media screen and (max-width: 600px) {
    .container {
      width: 100%;
      visibility: visible;
    }
    .container .fa-motorcycle, .fa-car, .fa-wrench {
        transform: scale(1.3);
        margin-left: 3vh;
    }
}

.accordion-text {
    display: inline;
    color: white;
    margin-left: 3vh;
    font-size: 1.5rem;
    font-family: Arial;
    font-weight: bold;
}

.panel {
    background-color: transparent !important;
    border: none !important
}

.panel-heading {
    background-color: transparent !important;
    border: none !important;
}

